.task {
    height: 50px;
    width: 488px;
    border: 2px solid black;
    background: springgreen;
    text-align: left;
    margin: 0 auto;
    padding-left: 10px;
    padding-bottom: 15px;
    position: relative;

}
.button {
    position: absolute;
    top: 18px;
    right: 5px;
    height: 38px;
    width: 38px;
    border-radius: 10%;
    background: red;
}
